@charset "utf-8";

/* CSS Document */

*{
	margin:0;
	padding:0;	
}
body{
	margin:0;
	padding:0;
	width:100%;	
	font-size:14px;
	font-family:'Raleway',san-sarif;
}

#head{
	background:url(../images/bannerbg.jpg) 50% 0 no-repeat fixed;
	background-size:cover;
	padding:0 0 1% 0;
	
}

/*   .head_container{position:fixed;width:100%;top:0;}   */


.bcontent{
	margin-top:48%;	
	border:double #CCC;
	padding:5% 0;
}

.bcontent input{
	padding:2% 8%;
	margin:5% 0 0 0;
	border-radius:5px;
	border:0;
	background:rgba(0,0,0,0.7);
	color:#fff;
	cursor:pointer;	
}

.banner_content{
	color:#fff;
	margin:0 0 19% 32%;
	text-align:center;
	width:40%;
	padding:2% 0;
}

#head .content{
	color:#fff;
	padding-top:25%;	
}

.head_container{
	background:rgba(51,51,51,0.6);
	position:fixed;width:100%;top:0;
	z-index:1000;
}

#logo{
	float:left;
	padding:0 44% 0 8%;
	line-height:45px;
	font-weight:bold;
	font-size:2em;
}

#logo a{
	text-decoration:none;	
	color:#CCC;
	text-shadow:2px 1px 2px #fff;
}

.navigation ul li{
	display:inline-block;	
	padding:1% 2% 1% 2%;
	border-right:1px solid #aaa;
}

.navigation ul li:hover{
	background:#333;
}

.active{
	background:#333;
}

.navigation ul li:last-child{border-right:0;}

.navigation ul li a{
	text-decoration:none;
	font-size:1.2em;
	color:#fff;
	text-align:center;

}

#content_one, #content_second{
	background:#f1f1f1;	

}

#content_one .content{
	padding:6% 0;
}


.quotes{
		width:30%;	
}

#content_container p{
	padding-bottom:5%;	
	line-height:170%;	
}

#content_one h2{
	padding-bottom:8%;
}

#content_one .quotes{
	float:left;
	padding:3% 0 0 20%;
}

.btnmore{
	background:#ccc;
	color:#333;
	font-weight:400;
	border:2px solid #000;
	padding:1% 8%;
	
}
/*#content_one .content p{
	padding-bottom:5%;	
	line-height:170%;
}*/


#content_one .btnmore:hover{
	background:#333;	
	color:#fff;
	cursor:pointer;
}
.circularbase{
	border-radius:50%;	
	width:250px;
	height:250px;
}

#content_one .circularimg_one{	margin:0 0 0 62%;}

.circularimg_one{
	background:url(../images/aboutimg.jpg) 34% 33%;
	background-size:cover;
}

.imgcontent{
	background:url(../images/imagesecondbg.jpg) 50% 0 no-repeat fixed;	
	background-size:cover;
	padding:20% 0;
}

.circularimg_second{
	background:url(../images/img4.jpg) 40% 33%;
	background-size:cover;	
	margin-left:62%;
}

.clear-fix{
	clear:both;	
}

.subscribe{
	background:#C00;	
	color:#fff;
	padding:3% 0 3% 21%;
}

.subscribe h2{
	margin:0 0 1% 0;	
}

.subscribe input{
padding:1% 5%;
margin:0 0 0 10%;
border-radius:5px;
border:0;
background:rgba(204,204,204,1);
text-transform:uppercase;
font-weight:500;
}

.subscribe input:hover{
	background:rgba(102,102,102,1);
	color:#fff;
}

#footers{
	background:rgba(51,51,51,1);
	color:#fff;	
	padding:2% 10%;
}

#footers #social_icon{
		
}

.navbar-fixed{
	position:fixed;width:100%;top:0;		
}

.mob_menu{
	display:none;
}
/*For ratina display*/


/*

	@media only screen and (-webkit-min-device-pixel-ratio: 2) {
     .repeatingPattern {
          background: url(../images/bgPattern@2x.png) repeat;
     }

*/


/*Responsive queries for lager display*/


@media only screen and (max-width:1110px){
	
	#logo{
		padding:0 36% 0 8%;
		line-height:42px;
		font-size:2em;
	}
}

@media only screen and (max-width:885px){
	
	#logo{
		padding:0 30% 0 8%;
		line-height:38px;
		font-size:1.8em;
	}
	
	.subscribe{
		text-align:center;
		padding:5% 0;
	}
	.subscribe p{text-align:center;}
	.subscribe input{
	padding:1% 5%;
	margin:2% 25% 0 25%;
	border-radius:5px;
	border:0;
	background:rgba(204,204,204,1);
	text-transform:uppercase;
	font-weight:500;
	}

}

@media only screen and (max-width:764px){
	
	#logo{
		float:left;
		padding:0 20% 0 8%;
		line-height:35px;
		font-size:1.6em;
	}
	
	.circularbase{
		border-radius:50%;	
		width:200px;
		height:200px;
	}

	#content_one .content{
	padding:6% 0;
	}
	
	
	.quotes{
			width:40%;	
	}
	
	#content_container p{
		padding-bottom:2%;	
		line-height:170%;	
	}
	
	#content_one h2{
		padding-bottom:8%;
	}
	
	#content_one .quotes{
		float:left;
		padding:5% 0 0 10%;
	}

	.btnmore{
		background:#ccc;
		color:#333;
		font-weight:400;
		border:2px solid #000;
		padding:1% 8%;
		
	}
	.imgcontent{
		padding:30%;	
	}

}

@media only screen and (max-width:590px){

	.head_container{
		display:block;
	}
	
	#logo{
		padding:2% 0 2% 38%;
		width:100%;
	}
	
	#logo a{
		text-decoration:none;	
		color:#CCC;	
		text-shadow:2px 1px 1px #fff;	
		font-size:1.5em;
	}
	
	.active{
		background:rgba(102,102,102,0.8);
	}
	
	.nav-expanded{
		display:block;	
	}	
	
	.mob_menu{
		display:block;
		color:#fff;
		text-align:right;
		padding-right:5%;
		text-transform:uppercase;	
		cursor:pointer;
	}
	
	.navigation{
		display:none;
	}
	
	.navigation ul li{
		display:block;	
		padding:1% 2% 1% 5%;
		border-bottom:1px solid #333;
	}
	
	.navigation ul li:last-child{
		border:0;
	}
		
	.banner_content{
		width:80%;	
		margin:0;
	}
	.bcontent {
		width:80%;
		margin:50% auto 20% 22%;
		font-size:0.8em;
		border:0;		
	}
	
	#content_container p{
		padding-bottom:2%;	
		line-height:170%;	
	}
	
	#content_one h2{
		padding-bottom:8%;
	}
	
	#content_one .quotes{
		float:none;
		width:80%;
	}

	.btnmore{
		background:#ccc;
		color:#333;
		font-weight:400;
		border:2px solid #000;
		padding:1% 8%;
		
	}
	#content_one .circularimg_one{ display:none;}
	.circularimg_second{display:none;}
	.imgcontent{
		padding:30%;	
	}
}
	
	


